* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-section {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/college.jfif);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-around;
  align-items: center;
}
nav img {
  width: 90px;
}
.navbar {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.navbar ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}
.navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44366;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.button {
  background-color: black;
  border-radius: 10px;
  border: 2px solid black;
  text-decoration: none;
  background: transparent;
  font-size: 20px;
  padding: 10px 10px;
  font-weight: 600;
}
.button:hover {
  background-color: #f44366;
  color: whitesmoke;
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-7px);
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.footer p {
  line-height: 1.7;
}

.icons i {
  color: #f44366;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
#heart {
  color: #f44366;
}

.last-para {
  font-size: 25px;
  font-weight: bolder;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/convo.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
.sub-header h1 {
  margin-top: 150px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}
.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  color: #999;
  padding: 0;
}
.blog-right {
  flex-basis: 32%;
}
.blog-right h3 {
  background-color: #f44366;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid wheat;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #f44366;
  background: #f44366;
  color: whitesmoke;
  transition: 0.5s;
}
.red-btn {
  border: 1px solid #f44366;
  background: transparent;
  color: #f44366;
}
.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box h3 {
  text-align: left;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}
