body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 50px auto;
  background: #ff66b2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
}
input {
  margin-right: 15px;
}

#studentDOB {
  margin-right: 15px !important;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ff66b2;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f99ac9;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 18px;
  background: #eee;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li .edit,
li .delete {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}

li .delete {
  color: white;
}

li .student-details {
  flex-grow: 1;
}

li.editing input[type="text"] {
  width: auto;
}
